* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 2em;
    text-align: center;
    color: #232323;
}

.bigger-text {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 2em;
    text-align: center;
    color: #232323;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin: 20px;
}

.social-icons img {
  width: 22px;
  height: 22px;
  display: block;
  opacity: 0.85;
}

.seaside-social-icons a:hover img {
  opacity: 1;
  transform: scale(1.08);
}


nav {
    text-align: center;
    margin-top: 1.5em;
}

li {
    font-family: 'Source Serif Pro', serif;
    font-size: 18px;
    list-style-type: none;
    display: inline;
    padding: 0.5em;
}

a {
    text-decoration: none;
    color: #767676;
}

a:hover {
    color: #232323;
}

header {
    padding-top: 6em;
    padding-right: 6em;
    padding-left: 6em;
    padding-bottom: 3em;
}

body {
    color: #767676;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Source Serif Pro', serif;
}

.gallery {
    column-count: 3; 
    column-gap: 1.5em; 
    padding: 0 6em; 
    max-width: 2000px;
    margin: 0 auto;
}

.gallery figure {
    display: block;
    break-inside: avoid; /* Prevents items from breaking across columns */
    margin-bottom: 1.3em; 
    width: 100%;
    
}


.big-collage {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    gap: 1.5em; 
    padding: 2em; 
}

.big-collage img {
    max-width: 600px;
}



.outfits {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    gap: 1.5em; 
    padding: 2em; 
}

.outfits img {
    max-width: 400px;
}

.smaller-collage {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    gap: 1.5em; 
    padding: 2em; 
}

.smaller-collage img {
    max-width: 340px;
}

.wide-collage {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    gap: 1em; 
    padding-bottom: 1em; 
    padding-top: 1em; 
    margin: auto;
    max-width: 1080px;
}

.wide-collage img {
    max-width: 200px;
}


figure img {
    width: 100%;
    height: auto;
}

figcaption {
    text-align: left;
    padding-left: 1em;
    padding-top: 0.4em;
    
}

.space-above {
    padding-top: 1em;
}

.text {
    text-align: center;
    margin: auto;
}

.image {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
}

.page-image {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    align-items: center; /* This ensures images are centered vertically */
    margin: 0 auto; /* Centers the flex container horizontally */
    
}

.page-image img {
    max-width: 800px;
    height: auto;
    
}

.page-image figcaption {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    max-width: 600px;
    
}

.gallery-text {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    max-width: 600px;
    
}

.vertical-page-image {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    align-items: center; /* This ensures images are centered vertically */
    margin: 0 auto; /* Centers the flex container horizontally */
    
}

.vertical-page-image img {
    max-width: 600px;
    height: auto;
    
}

.vertical-page-image figcaption {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    max-width: 600px;
}

.small-page-image {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    align-items: center; /* This ensures images are centered vertically */
    margin: 0 auto; /* Centers the flex container horizontally */
    
}

.small-page-image img {
    max-width: 400px;
    height: auto;
    
}

.small-page-image figcaption {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    max-width: 600px;
}

.wide-page-image {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    align-items: center; /* This ensures images are centered vertically */
    margin: 0 auto; /* Centers the flex container horizontally */
    
}

.wide-page-image img {
    width: 1080px;
    height: auto;
    max-width: 100%;
    
}

.wide-page-image figcaption {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 600px;
}


.bold {
    font-weight: strong;
}

.italic {
    font-style: italic;
}

.end {
    margin-top: 5em;
}

footer {
    margin-top: 6em;
    margin-bottom: 2em;
    text-align: center;
    font-size: 16px;
}

.small {
    font-size: 16px;
    line-height: 1.5;
}

.bio-text {
    text-align: left;
    margin: auto;
    padding-bottom: 1em;
    max-width: 800px;
}

.bio-photo-text {
    display: flex;
    align-items: center; 
    gap: 2em; 
    margin-bottom: 3em;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
}



#bio-pic {
    width: 400px; 
    height: auto;
}

#birth-announcement-text {
    text-align: left;
    margin: auto;
    padding-bottom: 1em;
    
}

.birth-announcement-text {
    
    margin-bottom: 3em;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
}


.text-title {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    color: #232323;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 0.5em;
    
}

.right-text {
    flex: 1;
    font-size: 18px;
    line-height: 1.5;
}


.biography {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 4000px;
    padding: 0 2em;
    
}

.black a{
    color: #232323 !important;

}

.big-image {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
    margin-bottom: 1em;
}

.underillustration {
    margin-top: 1em;
}

/* Mobile Adjustments */
@media screen and (max-width: 400px) {
    body {
        font-size: 16px;
        margin: 0; 
        padding: 0; 
        box-sizing: border-box; 
    }

    
    .gallery {
        display: grid;
        gap: 0.5em;
        column-count: 1; 
     
        padding: 0; 
        margin: 0; 
    }


    figure {
        margin: 0;
        padding: 0; 
        width: 100%; 
    }

    figure img {
        width: 100vw;
    
        height: auto;
        display: block; /* Removes inline-block spacing */
        object-fit: cover; /* Prevents stretching if needed */
    }

    .outfits {
        display: grid;
        gap: 0.5em;
        column-count: 1; 
        padding: 0; 
        margin: 0; 
        width: 100vw;
    }


    .big-collage {
        display: grid;
        gap: 0.5em;
        column-count: 1; 
        padding: 0; 
        margin: 0; 
    }

    .big-collage img {
        width: 100vw;
        height: auto;
        display: block; /* Removes inline-block spacing */
        object-fit: cover; /* Prevents stretching if needed */
    }

    .gallery-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 90vw; 
        padding-top: 3em;
    }

    figcaption {
    max-width: 90vw; 
    font-size: 16px;
    padding-left: 2em;
    padding-right: 2em;
    }

    .outfits img {
        width: 100vw;
        height: auto;
        display: block; /* Removes inline-block spacing */
        object-fit: cover; /* Prevents stretching if needed */
    }

    .wide-collage {
        display: grid;
        gap: 0.5em;
        column-count: 1; 
        padding: 0; 
        margin: 0; 
        width: 100vw;
    }

    .wide-collage img {
      width: 100vw;
      height: auto;
      display: block; /* Removes inline-block spacing */
      object-fit: cover; /* Prevents stretching if needed */
      max-width: none;
    }

   
    .bio-photo-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
        margin-bottom: 3em;
        max-width: 100%; 
    }

    #bio-pic {
        width: 100%;  
        height: auto;
    }

    .right-text {
        font-size: 16px;
        line-height: 1.5;
    }

   
    .biography {
        padding: 0 2em;
    }

    
    .bio-text {
        width: 100%;
    }

    
    .big-image {
        gap: 1em;
    }

    h1 {
        text-align: center; 
        margin: 0; 
    }

    header {
    padding-top: 3em;
    padding-right: 0em;
    padding-left: 0em;
    padding-bottom: 3em;
    }
}

/* Tablet Adjustments */
@media screen and (max-width: 600px) {
    body {
        font-size: 16px;
        margin: 0; 
        padding: 0; 
        box-sizing: border-box; 
    }
    
    .gallery {
        display: grid;
        gap: 0.5em;
        column-count: 1; 
     
        padding: 0; 
        margin: 0; 
    }

    figcaption {
    max-width: 90vw; 
    font-size: 16px;
    padding-left: 2em;
    padding-right: 2em;
    }

    .outfits {
        display: grid;
        gap: 0.5em;
        column-count: 1; 
        padding: 0; 
        margin: 0; 
        width: 100vw;
    }

    .outfits img {
        width: 100vw;
        height: auto;
        display: block; /* Removes inline-block spacing */
        object-fit: cover; /* Prevents stretching if needed */
    }

    .wide-collage {
        display: grid;
        gap: 0.5em;
        column-count: 1; 
        padding: 0; 
        margin: 0; 
        width: 100vw;
    }

    .wide-collage img {
      width: 100vw;
        height: auto;
        display: block; /* Removes inline-block spacing */
        object-fit: cover; /* Prevents stretching if needed */
        max-width: none;
    }

    .big-collage {
        display: grid;
        gap: 0.5em;
        column-count: 1; 
        padding: 0; 
        margin: 0; 
    }

    .big-collage img {
        width: 100vw;
        height: auto;
        display: block; /* Removes inline-block spacing */
        object-fit: cover; /* Prevents stretching if needed */
    }

    .gallery-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 90vw; 
        padding-top: 3em;
    }

    figure {
        margin: 0;
        padding: 0; 
        width: 100%; 
    }

    figure img {
        width: 100vw;
    
        height: auto;
        display: block; /* Removes inline-block spacing */
        object-fit: cover; /* Prevents stretching if needed */
    }

   
    .bio-photo-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
        margin-bottom: 3em;
        max-width: 100%; 
    }

    #bio-pic {
        width: 100%;  
        height: auto;
    }

    .right-text {
        font-size: 16px;
        line-height: 1.5;
    }

   
    .biography {
        padding: 0 2em;
    }

    
    .bio-text {
        width: 100%;
    }

    
    .big-image {
        gap: 1em;
    }

    h1 {
        text-align: center; 
        margin: 0; 
    }

    header {
    padding-top: 3em;
    padding-right: 0em;
    padding-left: 0em;
    padding-bottom: 3em;
    }
}

